
.Color{

    color: #125312;

}
.Color2{

    color: #b7305f;
}

.CARD{

    background-color: #b7305f;

}
.text{

    color: #fff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-size:25px ;
}
